html {
    background: linear-gradient(to bottom, #00122e, #000814);
    min-height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 1.6rem;
    margin: 0px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body::-webkit-scrollbar-thumb {
    background: transparent;
}

header span {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

#wizard-icon {
    max-width: 60px;
    max-height: 60px;
}

h1 {
    font-family: 'Grenze';
    font-size: 42px;
    font-weight: 800;
    font-style: italic;
    color: #00a3fb;
}

h2 {
    color: white;
    text-align: center;
}

#googleSignInButton {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

#loginForm {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    color: #00a3fb;
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
}

#passwordSection, #nameSection, #beginSection, .error {
    text-align: center;
    margin-bottom: 18px;
}

#passwordSection input {
    width: 80px;
}

#authorize-button-section {
    text-align: center;
    margin-top: -18px;
}

.error {
    color: #f34f19;
    min-height: 30px;
    display: block;
}

.main-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out 0.5s;
}

.question-container {
    margin-bottom: 30px;
}

#question {
    font-size: 1.25rem;
    font-weight: 600;
    /* Change the 80px padding-left to 120px once the check icon is re-added */
    padding: 0px 80px 0px 80px;
    height: 60px;
}

#question-admin {
    display: block;
    white-space: pre-wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 5px;
    width: 565px;
    height: 120px;
    margin: auto;
    padding: 4px 12px;
}

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines you want to display */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: unset;
    max-height: 3em; /* Based on line-height, this should allow for 2 lines */
    line-height: 1.5em;
}

#check-icon {
    display: none;
    /* display: flex; */
    align-items: flex-start;
    max-width: 30px;
    margin-top: 24px;
}

.answer-choice-container {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}

.answer-choices {
    list-style: none;
    padding: 0px 0px 0px 10px;
}

.answer-choices li {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#correct-answer {
    background-color: #54c800;
    color: black;
    font-weight: 600;
    opacity: 1;
}

#incorrect-answer {
    background-color: #f34f19;
    color: black;
    font-weight: 600;
    opacity: 1;
}

.disabled {
    pointer-events: none; /* Prevent further clicks */
    opacity: 0.6;
}

.button, #beginButton, #authorize-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #00a3fb;
    color: #003762;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #008ad2;
}

#beginButton:hover, #authorize-button:hover {
    background-color: #54c800;
    color: black;
    font-weight: 600;
    opacity: 1;
}

.button-active {
    background-color: red;
}

.question-count-section {
    text-align: center;
}

#difficulty-text,
#question-count-label,
#question-count,
#difficulty-count-label,
#difficulty-count {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

#difficulty-text {
    margin-bottom: 10px;
}

#question-count {
    margin-top: 0px;
}

#difficulty-count {
    margin-top: 0px;
}

.difficulty-selection {
    white-space: nowrap;
    margin-bottom: 40px;
    text-align: center;
}

.difficulty-label {
    color: #00a3fb;
    padding: 0px 5px;
}

.difficulty-button {
    font-weight: 800;
    padding: 8px 10px;
    margin: 0px 5px;
    background-color: transparent;
    color: #00a3fb;
    border: 2px solid #00a3fb;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.difficulty-button:hover, .difficulty-button.button-hover {
    background-color: #00a3fb;
    color: #003762;
}

.question-count-container {
    text-align: center;
}

.navigation-buttons {
    text-align: center;
    white-space: nowrap;
}


#total-rated {
    margin-top: 20px;
    text-align: center;
    color: #00a3fb;
}

#submit {
    background-color: transparent;
    color: #54c800;
    font-weight: 600;
    border: none;
    margin-top: 30px;
    white-space: nowrap;
}

#submit:hover {
    background-color: #54c800;
    color: black;
    font-weight: 600;
    border: none;
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

footer a {
    color: #18508c;
    text-decoration: none;
}